<h1>Vendors</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to 'ID', vendors_index_path(sort: 'id', direction: toggle_direction('id')) %></th>
      <th><%= link_to 'Vendor Name', vendors_index_path(sort: 'vendor_name', direction: toggle_direction('vendor_name')) %></th>
      <th><%= link_to 'Created At', vendors_index_path(sort: 'created_at', direction: toggle_direction('created_at')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.id %></td>
        <td><%= vendor.vendor_name %></td>
        <td><%= vendor.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
