 <!--begin
  Name: Nathan Keenan
  Program: Business Information Technology
  Course: WEBD-3011 (277098)
  Created: 2026-04-06
  Updated: 2024-04-08
 -->

 <h1>Vendors</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to 'Test', vendors_path(sort: 'id', direction: toggle_direction('id')) %></th>
      <th><%= link_to 'Vendor Name', vendors_path(sort: 'vendor_name', direction: toggle_direction('vendor_name')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.id %></td>
        <td><%= link_to vendor.vendor_name, vendor_path(vendor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @vendors %>
