<h1>Expenses</h1>

<%= form_with url: expenses_path, method: :get, local: true, class: "d-flex gap-2 mb-3" do |f| %>
  <%= f.number_field :id, value: params[:id], placeholder: "Search by Expense #", class: "form-control w-auto", min: 1 %>
  <%= f.submit "Search", class: "btn btn-primary" %>
  <% if params[:id].present? %>
    <%= link_to "Clear", expenses_path, class: "btn btn-outline-secondary" %>
  <% end %>
<% end %>

<% if params[:id].present? && @expenses.empty? %>
  <div class="alert alert-info">No expense found with ID #<%= params[:id] %>.</div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to 'Transaction ID', expenses_path(sort: 'id', direction: toggle_direction('id')) %></th>
      <th><%= link_to 'Amount', expenses_path(sort: 'amount', direction: toggle_direction('amount')) %></th>
      <th><%= link_to 'Description', expenses_path(sort: 'description', direction: toggle_direction('description')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.id, expense_path(expense) %></td>
        <td>$<%= expense.amount %></td>
        <td><%= expense.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @expenses %>
